.author_video {
  margin-bottom: 15px;
  padding: 0 10px;

  a {
    text-decoration: none;
  }

  .author_image {
    img {
      width: 60px;
      height: 60px;
    }
  }

  .author_info {
    color: rgb(38, 0, 255);
  }
}
