.header_wrapper {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(38, 67, 67);
  width: 100%;
  margin-bottom: 20px;
  z-index: 1;
  overflow: hidden;

  .header {
    display: flex;
    padding: 10px;
    width: 600px;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
      color: rgb(71, 151, 255);
    }

    @media (max-width: 500px) {
      & {
        flex-direction: column;
        gap: 20;
      }

      .logo {
        margin-bottom: 10px;
      }
    }
  }

  @media (max-width: 500px) {
    & {
      position: sticky;
      top: -36px;
    }
  }
}
