.header_wrapper {
    display: flex;
    justify-content:center;
    background-color: rgb(38, 67, 67);
    width: 100%;
    margin-bottom: 20px;

    .header {
        display: flex;
        padding: 10px 0;
        width: 600px;
        justify-content: space-between;
        align-items: center;
    
        a {
            text-decoration: none;
            color:rgb(71, 151, 255)
        }
    }
}
